# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
.pytest_cache/
*.egg-info/
dist/
build/
*.dist-info/

# Node / frontend
node_modules/
dist/
.vite/
*.local

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# db
*.db